{% load static %}
    <!-- Favicon files-->
	<link rel="shortcut icon" href="{% static "assets/images/favicon/favicon.ico" %}" type="image/x-icon">
	<link rel="manifest" href="{% static "assets/images/favicon/site.webmanifest" %}">
	<!-- Bootstrap4 files-->
	<link href="{% static 'assets/libs/bootstrap-5.3.3/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
	<!-- Bootstrap4 files-->
	<link href="{% static 'assets/libs/fontawesome-6.6.0/css/all.min.css' %}" rel="stylesheet" type="text/css"/>
	<!-- custom style -->
	<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'assets/css/main.css' %}" rel="stylesheet" type="text/css"/>